

<div class="navbar">
  <table width="100%" cellpadding="0">
    <tr>
      <td>
        <font id="logo">
          wikiMaps
        </font>
      </td>

      <td>
          <a class="nav" href="/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="nav" href="/register">Register</a>

      </td>
    </tr>
  </table>
</div>
