

<nav id="nav-bar">
  <span class="header">WikiMaps</span>

<%
  if (cookie) {
  %>
  <a id="dashboard" href="/">Dashboard</a>
<span id="welcome">
<font style="color: #cccccc">Logged in as:</font> <font style="color: white"><%=cookie.name %></font></span>

  <button>Logout</button>
    <button id="new-list" class = "btn btn-default" data-toggle = "modal" data-target = "#createListModal"><i class="fa fa-plus" aria-hidden="true"></i>Start New List</button>
  <%
  } else {
%>
Not logged in
<button>Log in</button>
  <button>Sign up </button>
<%
  }
  %>

</nav>
