
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/_header%>
    <link href="/styles/layout.css" rel="stylesheet">
    <title>WikiMaps: Home</title>
  </head>

  <body>

    <%- include partials/_navbar%>



<table>
<tr>
<td class="frontpage" width="50%" bgcolor="white">
<img src="http://www.casstudentcentral.org/assets/_control/content/images/gps%20map%281%29.jpg" width="100%">
</td>
<td class="frontpage" bgcolor="white">

<ul>
<li>Create and manage lists of your favourite places</li>
<li>Share your maps and contribute to public lists</li>
</ul>
</td>
</tr>
<tr>
<td class="frontpage" colspan="2"></td>
</tr>
<tr>
<td class="frontpage" bgcolor="white" colspan="2">
Featured Lists:

<table width="100%" class="featured">
<tr>
<td width="30%">



          <img id="listPhoto" src="http://i0.wp.com/www.riverdaler.ca/wp-content/uploads/2015/02/Screen-Shot-2015-02-10-at-8.15.49-PM-e1423617903275.png">
          <font style="font-size: 120%"><a href="/lists/40">Toronto Flower Shops</a></font>
          <br>
          A list of local Toronto florists
          <br>

          <font class="timeago">Created by George on April 2
          </font>

</td>
<td width="3%" style="border:none"></td>
<td width="34%">

<img id="listPhoto" src="http://dresstokillmagazine.com/wp-content/uploads/2016/04/Indian-Food-in-USA.jpg">
          <font style="font-size: 120%"><a href="/lists/51">Yummy Indian Foods!</a></font>
          <br>
          List of best places in Toronto to enjoy the tasty and delicious Indian food varieties.
          <br>

          <font class="timeago">Created by Abhi on April 2
          </font>

</td>

<td width="3%" style="border:none"></td>

<td width="30%">

<img id="listPhoto" src="http://indie88.com/wp-content/uploads/2014/09/13992146160906184569271297951426o-1.jpg">
          <font style="font-size: 120%"><a href="/lists/46">Toronto music venues</a></font>
          <br>
          Some local music venues
          <br>

          <font class="timeago">Created by George on April 2
          </font>


</td>

</tr>
</table>


</td>
</tr>
</table>
 <%- include partials/_footer %>



