
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/_header%>
    <link href="/styles/layout.css" rel="stylesheet">
    <title>Home Page</title>
  </head>

  <body>

    <%- include partials/_navbar%>



<table>
<tr>
<td class="frontpage" width="50%" bgcolor="white">
<img src="http://www.casstudentcentral.org/assets/_control/content/images/gps%20map%281%29.jpg" width="100%">
</td>
<td class="frontpage" bgcolor="white">

<ul>
<li>Create and manage lists of your favourite places</li>
<li>Share your maps and contribute to public lists</li>
</ul>
</td>
</tr>
<tr>
<td class="frontpage" colspan="2"></td>
</tr>
<tr>
<td class="frontpage" bgcolor="white" colspan="2">
Featured Lists:

<table width="100%" class="featured">
<tr>
<td width="31%">



          <div id="noListPhoto"><i class="fa fa-globe" aria-hidden="true"></i></div>
          <font style="font-size: 120%"><a href="/lists/">Favourite place list # 1</a></font>
          <br>
          The CN Tower (French: Tour CN) is a 553.3 m-high (1,815.3 ft) concrete communications .
          <br>

          <font class="timeago">Created by George on March 31, 2017
          </font>

</td>
<td width="3%" style="border:none"></td>
<td width="32%">

<div id="noListPhoto"><i class="fa fa-globe" aria-hidden="true"></i></div>
          <font style="font-size: 120%"><a href="/lists/">Favourite place list # 1</a></font>
          <br>
          The CN Tower (French: Tour CN) is a 553.3 m-high (1,815.3 ft) concrete communications and
          <br>

          <font class="timeago">Created by George on March 31, 2017
          </font>

</td>

<td width="3%" style="border:none"></td>

<td width="31%">

<div id="noListPhoto"><i class="fa fa-globe" aria-hidden="true"></i></div>
          <font style="font-size: 120%"><a href="/lists/">Favourite place list # 1</a></font>
          <br>
          The CN Tower (French: Tour CN) is a 553.3 m-high (1,815.3 ft) concrete communications and
          <br>

          <font class="timeago">Created by George on March 31, 2017
          </font>


</td>

</tr>
</table>


</td>
</tr>
</table>
 <%- include partials/_footer %>
  </body>
</html>


