<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div id="form" style="opacity:0;">
        <table>
          <tr>
            <td>Title:</td>
            <td><input type='text' id='pt-name'/> </td>
          </tr>
          <tr>
            <td>Address:</td>
            <td><input type='text' id='pt-address'/> </td>
          </tr>
          <tr>
            <td>Description:</td>
            <td><input type='text' id='pt-description'/> </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:center"><input id="save-loc" type='button' value='Save'/></td>
          </tr>
        </table>
      </div>
      <div id="message" style="display:none;">Location saved</div>
    </div>
</body>
</html>