<!DOCTYPE html>
<html>
  <head>
    <title>Create New List</title>
    <%- include partials/_header%>
    <link href="/styles/newlist_layout.css" rel="stylesheet">
  </head>
  <body>
    <%- include partials/_navbar%>
    <div id="body">
      <div id="leftpane">
        <div id="listdetail">

        </div>
        <div id="map">

        </div>
      </div>
      <div id="rightpane">

      </div>
    </div>
  </body>
</html>