<!DOCTYPE html>
<html>
  <head>
    <title>Create New List</title>
    <%- include partials/_header%>
  </head>
  <body>
    <%- include partials/_navbar%>
    <div id="body">

    </div>
  </body>
</html>