body {
  background-color: #EEE;

background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);

  background: linear-gradient(90deg, rgba(0,0,0,0.0280392) 25%, rgba(0,0,0,0) 25%,
    rgba(0,0,0,0) 75%, rgba(0,0,0,0.0280392) 75%, rgba(0,0,0,0.0280392) 0),
  linear-gradient(180deg, rgba(0,0,0,0.0280392) 25%,
    rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0280392) 75%,

    rgba(0,0,0,0.0280392) 0), rgb(255, 255, 255);
  background-position: 0 0, 40px 40px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 80px 80px;
  background-size: 80px 80px;
  padding-top: 100px;
  height: 100%;
  width:100%;
  background-position: center;
  color: black;
  padding-top: 100px;

  .mandatory {
    color: red;
  }

  #nav-bar {
    position: fixed;
    top: 0;
    height: 82px;
    width: 100%;
    top: 0;
    background-color: #000;
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;


    .header {
      padding-left: 10px;
      font-size: 200%;
      line-height: 80px;
      color: white;
    }

    .button{
      float: right;
      margin: 25px 0;
      border-radius: 7px;
      height: 32px;
      width: 5em;
      background-color: rgba(255, 255, 255, 0.93);
      /*color: #00a087;*/
      color: black;
      font-size: 100%;
      border-color: black;
      border-width: thin;
      font-weight: lighter;
      font-size: 90%;
      outline:none;
      margin-left:5px;
      margin-right: 5px;
      padding-top: 7px;
      padding-left: 14px;
    }
    .button:hover {
      background-color: #888888;
      color: #eeeeee;
      border: 1px solid #eeeeee;
    }
  .startButton {
     float: right;
      margin: 25px 0;
      border-radius: 7px;
      height:32px;
      width: 180px;
      background-color: #29a329;
      color: white;
      font-size: 100%;
      border: 1px solid white;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 90%;
      outline:none;
      margin-left:5px;
      margin-right: 20px;
      -webkit-box-shadow: inset 1px 2px 8px lightgreen, inset -1px -3px 3px -1px darkgreen, 1px 2px 1px black;
      -moz-box-shadow: inset 1px 2px 8px lightgreen, inset -1px -3px 3px -1px darkgreen, 1px 2px 1px black;
      box-shadow: inset 1px 2px 8px lightgreen, inset -1px -3px 3px -1px darkgreen, 1px 2px 1px black;
  }
  .startButton:hover  {
    background: #33cc33;
  }
  .startButton:active {
  box-shadow:
    inset 0 -2px 1px rgba(255,255,255,0.2),
    inset 0 3px 2px rgba(0,0,0,0.12);
  }
  #dashboard {
    background-color: #cc2900;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding-top: 33px;
    padding-bottom: 29px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 40px;
    position: absolute;

  }

  #dashboard:hover {
    background-color: #ff471a;
  }

  #welcome {
    position: absolute;
    right: 400px;
    top: 33px;
    color: white;
    font-size: 90%;
  }

}

   #new-list{
     float: right;
  //   //margin: 100px 10px 0 0;
  //   border-radius: 7px;
  //   height: 2em;
  //   width: 7em;
  //   background-color: white;
  //   /*color: #00a087;*/
  //   color: black;
  //   font-size: 100%;
    // border-color: black;
  //   border-width: thin;
  //   font-weight: lighter;
  //   outline:none;
  // }
  // #new-list:hover{
  //   cursor: pointer;
   }

  // #main-wrap > div { min-height: 450px; }


  // #header,
  // #footer {
  //     min-height: 40px;
  // }

/* layout */
  // #maindiv {
  //     /* overflow to handle inner floating block */
  //     overflow: hidden;
  //     min-height: 100%;
  //     min-width:100%;

  // }

  // #leftpane {
  //     float: left;
  //     min-width: 50%;
  //     min-height: 100%;

  // }

  // #rightpane {
  //     float: right;
  //     min-width: 50%;
  //     min-height: 100%;
  // }

  #form {
    table{
      border-collapse: collapse;
      td{
        padding-top: .5em;
        padding-bottom: .5em;
      }
    }
  }

  #map {
  border: 1px solid black;
  margin-right: 10px;
  width: 600px;
  height: 450px;
  }

  #display {
    width: 94%;
  padding-bottom: 0;
  margin-top: 20px;
  border: 0;
  margin-left: 40px;
  margin-right: 40px;
  border-collapse: collapse;

  }

  .list {
  min-width: 500px;
  margin: 0;
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
    .secondrow {
      background-color: #eeeeee;
      color: #888888;
      font-size: 80%;
      padding: 10px;
      border-bottom: 1px solid black;
    }
    th {
      background-color: black;
      color: #eeeeee;
      text-align: left;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 10px
    }

    .listrow {
      background-color: white;
      padding: 7px;
      border-bottom: 1px solid black;
    }

    .feedrow {
      background-color: white;
      padding: 8px;
      border-bottom: 1px solid #eeeeee;
    }
    .feedrow a {
      text-decoration: none;
      color: #990000;
    }
    .feedrow a:hover {
      text-decoration: underline;
    }
    .listlabel {
      padding-left: 12px;
      padding-right: 7px;
      color: #990000;
    }


    .namefont {
      font-size: 90%;
      font-weight: bold;
    }
    .addressfont {
      font-size: 80%;
      color: #777777;
    }
    .descfont {
      font-size: 80%;
      color: black;
    }
    .datefont {
      font-size: 75%;
      color: #999999;
    }
  }

  #activityfeed {
    margin: 0;
  color: #cccccc;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  border-spacing: 0;
    th {
      background-color: #888888;
      color: #dddddd;
      text-align: left;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 10px
    }
    td {
    background-color: #eeeeee;
    color: #888888;
    padding: 7px;
  }
    ul {
      margin: 0;
      padding-left: 20px;
      padding-right: 0;
      li {
        padding-left: 0px;
        padding-bottom: 8px;
      }
  }
}

.timeago {
  color: #aaaaaa;
  font-size: 90%;
}

.activityuser {
  color: #888888;
  font-weight: bold;
}
.profileinfo {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  font-size: 95%;
  line-height: 40px;
  color: #666666;
}
  #privacy {
    margin: 0;
    border-collapse: collapse;
    width: 100px;
    .public {
      height: 75px;
      background-color: #47d147;
      color: white;
      font-size: 75%;
      line-height: 15px;
      padding: 12px;
      border-top-right-radius: 10px;
    }
    .viewonly {
      height: 75px;
      background-color: #ffb84d;
      color: white;
      font-size: 75%;
      line-height: 15px;
      padding: 12px;
      opacity: 0.3;
    }
     .viewonly:hover {
        opacity: 1;
      }

    .private {
      height: 75px;
      background-color: #bb99ff;
      color: white;
      font-size: 75%;
      line-height: 15px;
      padding: 12px;
      opacity: 0.3;
      border-bottom-right-radius: 10px;
    }
    .private:hover {
        opacity: 1;
      }
  }
  #listPhoto {
    width: 120px;
    margin-right: 10px;
    border: 1px solid #888888;
    float: left;
  }
  #noListPhoto {
    width: 120px;
    border: 1px solid #888888;
    font-size: 450%;
    text-align: center;
    background-color: #eeeeee;
    color: #cccccc;
    height: 90px;
    float: left;
    margin-right: 10px;
  }

#profile {
  background-color: #eeeeee;
  color: black;
  padding: 15px;
  border: 1px solid #999999;
}
.profileName {
  font-size: 150%;
  color: #990000;

}
.profileImage {
  width: 180px;
  border: 1px solid #888888;
  margin-top: 10px;
}

.noProfilePic {
  margin-top: 10px;
  width: 180px;
  height: 180px;
  border: 1px solid #888888;
  background-color: #e6f9ff;
  font-size: 900%;
  color: #dddddd;
  text-align: center;
}

.frontpage {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 150%;
  li {
  padding: 10px;
  line-height: 50px;
  font-size: 150%;
  }
}


.featured {
  background-color: white;
margin-top: 8px;
margin-bottom: 8px;
  border-collapse: separate;

  font-size: 60%;

    td {

      padding: 10px;
border: 1px solid #cccccc;
      height: 100px;

    }
}
}



